<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About Us
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Owned by wife and husband Lisa & Ray Cardillo
    </h3>
    <blockquote cite="{{ site.url }}">
      A wife and husband team that work out of the same location in Cocoa, Florida.
      Lisa is a master hair stylist and handles all beauty operations.
      Ray is an aspiring 3D artist and tattoo artist.
    </blockquote>
  </div>
</section>